[project]
name = "tomviz"
authors = [
    "Wei (Celia) Xu <xuw@bnl.gov>",
    "Padraic Shafer <pshafer@bnl.gov>",
    "https://github.com/OpenChemistry/tomviz?tab=readme-ov-file#cite-tomviz",
]
description = "Environment to run tomviz"
version = "0.1.0"
channels = ["conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = "==3.11"
tomviz = ">=2.1.2"
h5py = "*"
xraylib = "*"
tomopy = "*"

[pypi-dependencies]
bluesky-tiled-plugins = ">=2.0.0rc1"
pyxrf = "*"
hxntools = "*"
xrf-tomo = "*"
scikit-beam = "*"
tiled = { version = ">=0.2.0", extras = ["client"] }

[tasks]
# Launch Tomviz from the pixi environment
tomviz = "tomviz"

