pytest==3.0.6
requests==2.20.0
Pillow==6.2.0
# Need this for testing so we can stop there server, change when the required
# get into a release.
https://github.com/bottlepy/bottle/archive/41ed6965.zip
mock==2.0.0
diskcache==3.0.1
-e git+https://cjh1@bitbucket.org/cjh1/pydm3reader.git@filelike#egg=dm3_lib
