# General runtime dependencies
numpy
scipy
marshmallow
jsonpatch
jsonpointer
pyfftw
pygments
pystackreg
# These are PyXRF workflow dependencies
h5py
hxntools
pyxrf
xrf-tomo
xraylib
scikit-beam
tomopy
